<app-modal-listado-producto></app-modal-listado-producto>
<ng4-loading-spinner [timeout]="4000" [loadingText]="'Aguarde unos segundos'" [zIndex]="9999"></ng4-loading-spinner>
<div class="container">

  <!-- BUSCADOR   -->
  <div class="row mt-5">
    <div class="col-md-12">
      <input type="text" class="form-control" [(ngModel)]="serachText" placeholder="Buscar palabra...">
    </div>
  </div>

  <!-- BOTONES -->
  <div class="row text-center mt-2">
    <div class="col-md-12 d-flex justify-content-between">
      <button type="button" class="btn btn-primary" (click)="goToCarga()">Importar Excel</button>
      <button type="button" class="btn btn-primary">Exportar Excel</button>
      <button type="button" class="btn btn-primary">+ Nuevo</button>
    </div>
  </div>
  <br><br>
  <div class="container">
    <!-- ENCABEZADO -->
    <div class="row bg-info text-white text-center">
      
      <div class="col-md-1">Codigo</div>
      <div class="col-md-1">Producto</div>
      <div class="col-md-1">Empaque</div>
      <div class="col-md-1">Unidad</div>
      <div class="col-md-1">U. Medida</div>
      <div class="col-md-1">Stock</div>
      <div class="col-md-1">Precio Proveedor</div>
      <div class="col-md-1">Precio Sugerido</div>
      <div class="col-md-1">Categoria</div>
      <div class="col-md-1">Sub categoria</div>
      <div class="col-md-2">Acciones </div>

    </div>

    <!-- CONTENIDO -->
    <div class="row  text-center" *ngFor="let producto of productos |  paginate: { itemsPerPage: 5, currentPage: p }">
      
      <div class="col-md-1"><input [(ngModel)]="producto.codigoProveedor" type="text" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"><input [(ngModel)]="producto.nombreProducto" type="text" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1">
        <select [(ngModel)]="producto.empaque" [disabled]="!producto.isEditable">
          <option *ngFor="let c of empaques" [ngValue]="c">{{c}}</option>
        </select>

      </div>
      <div class="col-md-1"><input [(ngModel)]="producto.unidadesPorEmpaque" type="number" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"><input [(ngModel)]="producto.unidadMedida" type="number" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"><input [(ngModel)]="producto.stock" type="number" [disabled]="!producto.isEditable"></div>
      <!--empaque-->
      <div class="col-md-1"><input [(ngModel)]="producto.precioProveedor" type="number" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"> <input [(ngModel)]="producto.precioSugerido" type=" number" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"><input [(ngModel)]="producto.categoria" type="text" [disabled]="!producto.isEditable"></div>
      <div class="col-md-1"> <input [(ngModel)]="producto.subcategoria" type="text" [disabled]="!producto.isEditable"></div>

      <div class="col-md-2">
        <div class="btn-group mr-2" role="group" aria-label="First group">

          <button type="button" class="btn-sm btn btn-primary" (click)="producto.isEditable=!producto.isEditable" *ngIf="!producto.isEditable">Modificar</button>
          <button type="button" class="btn-sm btn btn-secondary" *ngIf="producto.isEditable" (click)="producto.isEditable=!producto.isEditable">Guardar</button>
          <button type="button" class="btn-sm btn btn-danger">Eliminar</button>
          <button type="button" class="btn-sm btn btn-success" (click)="visualizarProducto(producto)">Detalle</button>
          <button type="button" class="btn-sm btn btn-info">Ocultar</button>

        </div>
      </div>

    </div>
    <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>

  <div class="container">
    <button class="btn btn-primary" (click)="modificar()">Modificar</button>
  </div>

</div>
