<app-modal-listado-producto></app-modal-listado-producto>
<ng4-loading-spinner [timeout]="3000"  [loadingText]="'Aguarde unos segundos'" [zIndex]="9999"></ng4-loading-spinner>
<div class="container">
  <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="serachText" placeholder="Buscar palabra...">
  </nav>
  <div class="table-responsive">
    <table id="mytable" class="table-striped table-condensed">
      <thead>
        <tr>
            <th scope="col">Editar</th>
            <th scope="col">Detalle</th>
          <th scope="col" >  #  </th>
          <th scope="col">Codigo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Sub categoria</th>
          <th scope="col"> Producto</th>
          <th scope="col">Precio Proveedor</th>
          <th scope="col">Precio Sugerido</th>
          <th scope="col"> Stock</th>
          <th scope="col">Unidad de Medida</th>
         
        </tr>
      </thead>
      <tbody *ngFor="let producto of productos | filter: serachText; let i = index ">
        <tr>
            <td>
                <i (click)="producto.isEditable=!producto.isEditable" *ngIf="!producto.isEditable" class="fas fa-edit"></i>
                <i  *ngIf="producto.isEditable" (click)="producto.isEditable=!producto.isEditable" class="far fa-save"></i>
              <!-- <button (click)="producto.isEditable=!producto.isEditable" *ngIf="!producto.isEditable">Editar</button> 
              <button *ngIf="producto.isEditable" (click)="producto.isEditable=!producto.isEditable">Guardar</button>-->
  
            </td>
            <td ><i class="far fa-eye" (click)="visualizarProducto(producto)"></i></td>
          <td>{{ i }}</td>
          <td>  <input  [(ngModel)]="producto.codigoProveedor" type="text" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.categoria" type="text" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.subcategoria"  type="text" [disabled]="!producto.isEditable"></td>
          <td>  <input [(ngModel)]="producto.nombreProducto"  type="text" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.precioProveedor" type="number" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.precioSugerido" type=" number" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.stock" type="number" [disabled]="!producto.isEditable"></td>
          <td>  <input  [(ngModel)]="producto.unidadMedida" type="text" [disabled]="!producto.isEditable" ></td>

          


          <!--<th scope="row">{{ i }}</th>
          <td>{{producto.codigoProveedor}} </td>
          | date: 'dd/MM/yyyy'}}
          <td>{{ producto.categoria}}</td>
          <td>{{producto.subcategoria}}</td>
          <td>{{ producto.nombreProducto}}</td>
          <td>{{ producto.unidadMedida }} </td>
          <td>{{ producto.precioProveedor}}</td>
          <td>{{ producto.stock}}</td>
           <input formControlName="codigoProveedor" class="form-control" type="text" required="" placeholder="codigo de Proveedor">
<input formControlName="categoria" class="form-control" type="text" required="" placeholder="categoria">
 <input formControlName="subcategoria" class="form-control" type="text" required="" placeholder="subcategoria">
<input formControlName="nombreProducto" class="form-control" type="text" required="" placeholder="Nombre de Producto">
  <input formControlName="precioProveedor" class="form-control" type="number" required="" placeholder="Precio de Proveedor">
  <input formControlName="precioSugerido" class="form-control" type="number" required="" placeholder="Precio Sugerido">
 <input formControlName="stock" class="form-control" type="number" required="" placeholder="stock">
   <input formControlName="​​​unidadMedida" class="form-control" type="text" required="" placeholder="​​​Unidad de Medida">
          <td (click)="procesar(producto)"><i class="far fa-edit"></i></td>

        </tr>-->
          <!--_id: "5c36ceda7ab87e001589e87c"​​​
categoria: "VERDURAS"​​​
codigoProveedor: "A-1"​​​
imagenes: Array []​​​
nombreProducto: "PAPA ANDINA"​​​
precioProveedor: 12​​​
precioSugerido: 15​​​
stock: -63
​​​subcategoria: "VERDURAS"
​​​unidadMedida: "BOLSA"-->

      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" (click)="modificar()">Modificar</button>
  </div>
</div>
