<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">My Profile </a></li>
                        <!-- <li><a href="javascript:void()">My Balance</a></li>
                                <li><a href="javascript:void()">Inbox</a></li>
                                <li><a href="javascript:void()">Account Setting</a></li> -->
                        <li><a href="javascript:void()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">GESTION</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">Pedidos <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Listar </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-package-variant-closed"></i><span class="hide-menu">Productos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="app-calendar.html">Listar</a></li>
                        <li><a href="app-chat.html">Importar/Exportar</a></li>
                        <li><a href="app-ticket.html">Gestion de Stock</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Clientes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="app-email.html">Listar</a></li>
                        <li><a href="app-email-detail.html">Nuevo</a></li>
                        <li><a href="app-compose.html">Exportar</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">MARKETING</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-card-details"></i><span class="hide-menu">Invitaciones</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="form-basic.html">Listar</a></li>
                        <li><a href="form-layout.html">Enviar</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-volume-high"></i><span class="hide-menu">Publicidad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="table-basic.html">Mis publicaciones</a></li>
                        <li><a href="table-layout.html">Nueva</a></li>
                    </ul>
                </li>

                <li class="nav-small-cap">ESTADISTICAS</li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Pedidos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="chart-morris.html">Productos Frecuentes</a></li>
                        <li><a href="chart-chartist.html">Clientes Frecuentes</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-brush"></i><span class="hide-menu">Red</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="icon-material.html">Crecimiento de la Red</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Impacto Social</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="map-google.html">Ganancias Producidas</a></li>
                        <li><a href="map-vector.html">Clientes Impactados</a></li>
                        <li><a href="map-vector.html">Zonas Impactados</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->