<nav class="navbar">
    <input class="form-control" type="text" name="search"  placeholder="Buscar palabra...">
  </nav>
  <div class="container">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">


      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary btn-block" routerLink="/crisis-center">Importar Excel</button>

      </div>
      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary btn-block">Exportar Excel</button>

      </div>
      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary btn-block"> + Nuevo</button>

      </div>
    </div>
  </div>
