
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody *ngFor="let pedido of pedidos; ">
    <tr>
      <th scope="row"></th>
      <td>{{ pedido.estadoPedido}}</td>
      <td>{{pedido.fechaEntrega   | date: 'dd/MM/yyyy'}}</td>
      <td>{{pedido.totalPedido}}</td>
      <td><button type="button" class="btn btn-link">Link</button></td>
    </tr>
   
  </tbody>
</table>


