<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>Desde </h3>
        <div >
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input lang="es-ES" class="form-control" placeholder="aaaa/mm/dd" name="dp" [(ngModel)]="fechaInicio" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">

                  <button class="btn btn-outline-secondary" (click)="d.toggle(); selectToday();" type="button"><i class="fa fa-calendar"
                      aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>



        <h3>Hasta </h3>
        <div >
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control"  placeholder="aaaa/mm/dd" name="dp1" [(ngModel)]="fechaFin" ngbDatepicker #e="ngbDatepicker">
                <div class="input-group-append">

                  <button class="btn btn-outline-secondary" (click)="e.toggle(); selectToday();" type="button"><i class="fa fa-calendar"
                      aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2>Pedidos</h2>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Pendientes
            <span class="badge badge-primary badge-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Aceptados
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Rechazados
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
        <br>
        <div>
          <button type="button" class="btn btn-info">Info</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h2>Invitaciones</h2>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Pendientes
            <span class="badge badge-secondary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Aceptados
            <span class="badge badge-secondary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Rechazadas
            <span class="badge badge-secondary badge-pill">1</span>
          </li>
        </ul>
        <br>
        <div>
          <button type="button" class="btn btn-info">Info</button>
        </div>
      </div>
    </div>
  </div>
